[submodule "qpc"]
	path = qpc
	url = https://github.com/quiverteam/QuiverProjectCreator.git
[submodule "branches/asw"]
	path = branches/asw
	url = https://github.com/Demez/demez_asw_base
[submodule "game/vr_base"]
	path = game/vr_base
	url = https://github.com/Demez/SourceEngineVR
[submodule "output/vr_assets"]
	path = output/vr_assets
	url = https://github.com/Demez/SourceEngineVRAssets
