[submodule "branches/2013"]
	path = branches/2013
	url = https://github.com/Demez/demez_source_2013
[submodule "qpc"]
	path = qpc
	url = https://github.com/quiverteam/QuiverProjectCreator.git
[submodule "branches/quiver"]
	path = branches/quiver
	url = https://github.com/quiverteam/Engine
	branch = upcoming
[submodule "branches/asw"]
	path = branches/asw
	url = https://github.com/Demez/demez_asw_base
[submodule "branches/csgo"]
	path = branches/csgo
	url = https://gitlab.com/demez/hl2_vr_csgo
[submodule "game/vr_base"]
	path = game/vr_base
	url = https://github.com/Demez/SourceEngineVR
[submodule "output/vr_assets"]
	path = output/vr_assets
	url = https://github.com/Demez/SourceEngineVRAssets
